.mat-column-branch_code{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
}
.mat-column-branch_name{
    display:flex;
    align-items: center;
    justify-content: center;
    width:40%;
}
.mat-column-branch_degree{
    display:flex;
    align-items: center;
    justify-content: center;
    width:15%;
}
.mat-column-branch_type{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20%;
}
.mat-column-city_name{
    display:flex;
    align-items: center;
    justify-content: center;
    width:30%;
}
