.mat-column-deptype_code{
    display:flex !important;
    align-items: center !important;
    justify-content: center !important;
    max-width:20% !important;
}
.mat-column-deptype_name{
    display:flex !important;
    align-items: center !important;
    justify-content: center !important;
    width:70% !important;
}
