<div class="ui container" style="padding:10px;">
  <div class="ui top attached inverted teal segment" style="border:none;">
    <h2 class="ui header">
      <i class="phone icon"></i>
      <div class="content">
        شناسنامه بانک
        <div class="sub header">تعریف مشخصات بانک، ویرایش اطلاعات و سایر موارد</div>
      </div>
    </h2>
  </div>
  <div class="ui attached segment">
    <mat-tab-group>
      <mat-tab label="تعریف بانک">
        <insert-bank-com></insert-bank-com>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="ui bottom attached segment"></div>
</div>