.mat-column-circletype_code{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:20%;
}
.mat-column-circletype_name{
    display:flex;
    align-items: center;
    justify-content: center;
    width:40%;
}
.mat-column-operate{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
}
/*---------------------------------*/
.mat-column-posttype-posttype_code{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20%;
}
.mat-column-posttype-posttype_name{
    display:flex;
    align-items: center;
    justify-content: center;
    width:40%;
}
.mat-column-personel_number{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20%;
}
