:host /deep/ .col-circletype_code{
    text-align:center;
    max-width:20%;
}
.mat-column-circletype_code{
    max-width:30%;
}
.mat-column- {
    max-width:10%;
}
:host /deep/ .col-circletype_name{
    text-align:center;
    width:40%;
}
:host /deep/ .col-operate{
    text-align:center;
    width:10%;
}
/*---------------------------------*/
:host /deep/ .col-posttype_code{
    text-align:center;
    width:20%;
}
:host /deep/ .col-posttype_name{
    text-align:center;
    width:40%;
}
:host /deep/ .col-personel_number{
    text-align:center;
    width:20%;
}
