<div class="ui container" style="padding:10px;">
    <div class="ui top attached inverted teal segment" style="border:none;">
      <h2 class="ui header">
        <i class="phone icon"></i>
        <div class="content">
          مشخصات ادارات
          <div class="sub header">تعریف مشخصات ادارات کل،امور و...، ویرایش اطلاعات و سایر موارد</div>
        </div>
      </h2>
    </div>
    <div class="ui attached segment">
      <mat-tab-group (selectedTabChange)="tabChange($event)">
        <mat-tab label="تعریف ادارات">
          <insert-dep-com></insert-dep-com>
        </mat-tab>
        <mat-tab label="دوایر زیرمجموعه" *ngIf="flag_show_department_circle_tab">
          <circle-dep-com></circle-dep-com>
        </mat-tab>        
      </mat-tab-group>
    </div>
    <div class="ui bottom attached segment"></div>
  </div>