.mat-column-dep_code{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:15%;
}
.mat-column-dep_name{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50%;
}
.mat-column-dep_code_posti{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20%;
}
.mat-column-deptype{
    display:flex;
    align-items: center;
    justify-content: center;
    width:30%;
}
