.mat-column-posttype_code{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:30%;
}
.mat-column-posttype_name{
    display:flex;
    align-items: center;
    justify-content: center;
    width:70%;
}
