.mat-column-row_code{
    display:flex;
    align-items: center;
    justify-content: center;
}
.mat-column-row_code{
    max-width:20%;
}
.mat-column-row_name{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    font-size:11px;
}
.mat-column-group_code{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
}
.mat-column-sum_flag{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
}
