:host /deep/ .disable-ostan-code{
    pointer-events:none;
}
.mat-column-ostan_code{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:15%;
}
.mat-column-ostan_name{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:30%;
}

