.mat-column-hoze_code{
    display:flex;
    align-items: center;
    justify-content: center;
    width:15%;
}
.mat-column-hoze_name{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.mat-column-hoze_code_posti{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20%;
}
.mat-column-hoze_email{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:11px !important;
    width:20%;
}
