.mat-column-row_code{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:20%;
}
.mat-column-row_name{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    font-size:11px;
}
.mat-column-group_code{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
}
.mat-column-sum_flag{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
}
:host /deep/ .radio-group {
    display: inline-flex;
    flex-direction: column;
}
  
:host /deep/ .radio-button {
    margin: 5px;
}

  
