:host /deep/ .col-row_code{
    text-align:center;
}
.mat-column-row_code{
    max-width:20%;
}
:host /deep/ .col-row_name{
    text-align:center;
    width:80%;
    font-size:11px;
}
:host /deep/ .col-group_code{
    text-align:center;
    width:10%;
}
:host /deep/ .col-sum_flag{
    text-align:center;
    width:10%;
}

