.mat-column-city_code{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:15%;
}
.mat-column-city_name{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:30%;
}
.mat-column-country_code{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:20%;
}
.mat-column-city_type{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20%;
    word-wrap: break-word;
}

:host /deep/ .disable-city-code{
    pointer-events:none;
}
